<!-- Footer Section -->
<footer class="dark:bg-gray-900 text-white py-8">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <!-- Derechos -->
            <p class="text-sm md:text-base mb-4 md:mb-0">© 2024 Todos los derechos reservados | <a href="mailto:stivenchoo@gmail.com" class="underline hover:text-gray-300">stivenchoo@gmail.com</a></p>

            <!-- Desarrollado por -->
            <p class="text-sm md:text-base mb-4 md:mb-0">Desarrollado por <strong>Stiven Colorado</strong> | <a href="tel:+573218956487" class="underline hover:text-gray-300">321 895 6487</a></p>

            <!-- Iconos -->
            <div class="flex space-x-4">
                <a href="https://www.facebook.com/profile.php?id=100009254754258" target="_blank" class="hover:text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M24 4.558c0-2.508-2.031-4.558-4.558-4.558h-14.884c-2.527 0-4.558 2.05-4.558 4.558v14.884c0 2.527 2.031 4.558 4.558 4.558h7.588v-7.584h-2.528v-2.972h2.528v-1.889c0-2.593 1.582-4.011 3.89-4.011 1.106 0 2.057.082 2.332.12v2.699h-1.602c-1.256 0-1.501.597-1.501 1.472v1.728h2.957l-.386 2.972h-2.571v7.584h5.029c2.527 0 4.558-2.031 4.558-4.558v-14.884z"/></svg>
                </a>
                <a href="#" target="_blank" class="hover:text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.723-.951.564-2.005.974-3.127 1.195-.896-.954-2.173-1.55-3.591-1.55-2.717 0-4.918 2.201-4.918 4.917 0 .385.044.761.127 1.122-4.086-.205-7.71-2.164-10.141-5.142-.424.725-.667 1.562-.667 2.458 0 1.696.864 3.192 2.178 4.071-.803-.025-1.56-.246-2.22-.615v.061c0 2.367 1.684 4.342 3.918 4.788-.41.112-.843.172-1.287.172-.315 0-.623-.03-.922-.086.624 1.949 2.433 3.367 4.576 3.406-1.677 1.313-3.792 2.097-6.089 2.097-.396 0-.787-.023-1.175-.069 2.169 1.39 4.745 2.203 7.514 2.203 9.015 0 13.948-7.467 13.948-13.948 0-.213-.005-.425-.014-.636.961-.694 1.796-1.562 2.457-2.549z"/></svg>
                </a>
                <a href="https://www.linkedin.com/in/stiven-colorado-370028220/" target="_blank" class="hover:text-gray-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24"><path d="M22.225 0h-20.449c-.981 0-1.776.795-1.776 1.776v20.449c0 .981.795 1.776 1.776 1.776h20.449c.981 0 1.776-.795 1.776-1.776v-20.449c0-.981-.795-1.776-1.776-1.776zm-15.416 20.451h-3.659v-11.042h3.659v11.042zm-1.829-12.671c-1.172 0-2.123-.951-2.123-2.122s.951-2.122 2.123-2.122c1.171 0 2.122.951 2.122 2.122s-.951 2.122-2.122 2.122zm13.27 12.671h-3.657v-5.967c0-1.423-.026-3.255-1.982-3.255-1.983 0-2.286 1.548-2.286 3.148v6.074h-3.658v-11.042h3.512v1.509h.049c.489-.926 1.684-1.903 3.465-1.903 3.704 0 4.387 2.439 4.387 5.61v6.826h-.001z"/></svg>
                </a>
            </div>
        </div>
    </div>
</footer>
