---
import LayoutHome from "../layouts/Layout_home.astro";
import Navbar from "../components/Navbar.astro";
import FormCreateQr from "../components/FormCreateQr.astro";
---
<script src="../controller/createQr.js"></script>
<LayoutHome title="Home - Crear Qr">
    <Navbar />
    <div class="w-full h-[100vh] flex justify-center items-center"> 
        <FormCreateQr />
    </div>
</LayoutHome>
